[Unit]
Description=Regatron Dipoles
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/VBoxManage startvm "Regatron Dipoles" --type headless
ExecStop=/usr/bin/VBoxManage controlvm "Regatron Dipoles" poweroff
RemainAfterExit=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
