[Unit]
Description=Regatron Log

[Service]
Type=simple

Environment="EPICS_IOC_LOG_FILE_NAME=/opt/cons-topcon/log/caput.log"
Environment="EPICS_IOC_LOG_FILE_LIMIT=500000"
Environment="EPICS_IOC_LOG_INET=0.0.0.0"
Environment="EPICS_IOC_LOG_PORT=7011"

ExecStart=/opt/epics-R3.15.6/base/bin/linux-x86_64/iocLogServer
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
